[user]
	email = shenghsi@gmail.com
	name = Sheng Xi
[diff]
	tool = opendiff
[core]
	excludesfile = /Users/shxi/.gitignore_global
	pager = less -F -X
[http]
	sslVerify = false
[credential]
	helper = cache
